body {
  background-color: #d6d6d6;
  font-family: 'Poppins', sans-serif;
}
main {
  background-color: whitesmoke;
  margin: 0 30px;
  border-radius: 10px;
  padding: 7px;
}
div {
  margin: 50px auto;
  width: 50%;
  /* background-color: aqua; */
}
a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 30px;
  padding: 6px 20px;
}
i {
  font-size: 20px;
  margin-left: 8px;
}
.sosmed i {
  font-size: 40px;
  padding: 5px;
}
.card {
  margin: 10px auto;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 12px grey;
}
.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card h3,
p {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
